/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

li, a {
  font-family: "Poppins" , sans-serif;
  text-decoration: none;
}

a {
  transition: all 0.3s ease 0s;
  color: white;
}

a:hover {
  color: #585297;
}

header {
  display: flex;
  justify-content: space-between;
  background: #11101D;
}

code {
  display: block;
  padding: 10px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 154px;
}

nav {
  display: block;
}
